<div class="w-full p-4 bg-white dark:bg-gray-700 dark:text-gray-300 sm:rounded-md sm:shadow" *transloco="let t">
  <div class="flex justify-between">
    <h1 class="mb-2 text-lg font-bold text-black dark:text-gray-300">{{ t('EPISODES.FILTER_EPISODES') }}</h1>
    <button type="button" class="btn btn-primary" (click)="resetFilter()">
      {{ t('FORMS.CLEAR_FILTER') }}
    </button>
  </div>

  <dynamic-form [form]="form" [config]="formConfig" (modelChanges)="changeForm($event)"></dynamic-form>
</div>
