<ng-container *ngrxLet="loading$ as loading">
  <mat-progress-bar *ngIf="loading" class="progress-bar--top" mode="indeterminate"></mat-progress-bar>
</ng-container>

<ng-container *transloco="let t">
  <ng-container *ngrxLet="location$ as location">
    <ng-container *ngIf="location; else loadingLocation">
      <seo
        *transloco="let t"
        [config]="{
          title: t('LOCATIONS.SEO_DETAILS.title', { name: location.name }),
          description: t('LOCATIONS.SEO_DETAILS.description', { name: location.name }),
          keywords: t('LOCATIONS.SEO_DETAILS.keywords'),
          details_keywords: [location.name, t('LOCATIONS.LOCATION_RESIDENTS', { name: location.name })]
        }"
      ></seo>

      <h1>{{ location.name }}</h1>
      <h3>{{ t('LOCATIONS.FIELDS.TYPE') }}: {{ location.type }}</h3>
      <h3>{{ t('LOCATIONS.FIELDS.DIMENSION') }}: {{ location.dimension }}</h3>
      <mat-divider></mat-divider>
      <mat-card>
        <h2>{{ t('LOCATIONS.LOCATION_RESIDENTS', { name: location.name }) }}</h2>
        <div class="row">
          <ng-container *ngIf="location.residents?.length; else emptyCharacters">
            <ng-container *ngrxLet="characters$ as characters">
              <div class="col-12 col-md-6" *ngFor="let characterId of location.residents; trackBy: characterId">
                <app-character-mini-card
                  *ngIf="characters[characterId]; else loadingCharacter"
                  [character]="characters[characterId]"
                ></app-character-mini-card>
                <ng-template #loadingCharacter>
                  <app-loading-character-mini-card></app-loading-character-mini-card>
                </ng-template>
              </div>
            </ng-container>

            <ng-template #emptyCharacters>
              <p>{{ t('LOCATIONS.NO_RESIDENTS') }}</p>
            </ng-template>
          </ng-container>
        </div>
      </mat-card>
    </ng-container>

    <ng-template #loadingLocation>
      <app-loading-details-content></app-loading-details-content>
    </ng-template>
  </ng-container>
</ng-container>
