<content-loader foregroundColor="#b8b8b8" viewBox="0 0 400 40">
  <svg:rect x="0" y="0" rx="3" ry="3" width="150" height="5" />
  <svg:rect x="0" y="10" rx="3" ry="3" width="120" height="5" />
  <svg:rect x="0" y="20" rx="3" ry="3" width="120" height="5" />
</content-loader>

<mat-card>
  <content-loader foregroundColor="#b8b8b8" viewBox="0 0 200 10">
    <svg:rect x="0" y="0" rx="1" ry="1" width="100" height="5" />
  </content-loader>
  <div class="row">
    <div class="col-12 col-md-6" *ngFor="let item of [].constructor(7)">
      <app-loading-character-mini-card></app-loading-character-mini-card>
    </div>
  </div>
</mat-card>
