<div *ngIf="pages > 1" class="relative flex flex-col items-center">
  <div class="flex text-gray-700 dark:text-gray-300">
    <button
      class="flex items-center justify-center w-12 h-12 mr-1 transition-colors duration-200 bg-gray-200 rounded-full dark:bg-gray-700"
      [ngClass]="currentPage === 1 ? 'opacity-50 cursor-not-allowed' : 'hover:bg-gray-300 dark:hover:bg-gray-600'"
      [disabled]="currentPage === 1"
      [routerLink]="['./'] | localize"
      [queryParams]="{ page: currentPage - 1 }"
      queryParamsHandling="merge"
      (click)="onPageSelect(currentPage - 1)"
    >
      <svg-icon [key]="'back'"></svg-icon>
    </button>
    <div class="flex h-12 font-medium bg-gray-200 rounded-full dark:bg-gray-700">
      <a
        *ngIf="currentPage > 2"
        class="items-center justify-center hidden w-12 leading-5 transition duration-200 ease-in rounded-full md:flex dark:text-gray-300 hover:bg-indigo-300 dark:hover:bg-indigo-400"
        [routerLink]="['./'] | localize"
        [queryParams]="{ page: 1 }"
        queryParamsHandling="merge"
        (click)="onPageSelect(1)"
      >
        1
      </a>
      <a
        *ngIf="currentPage > 3"
        class="items-center justify-center hidden w-12 leading-5 transition duration-200 ease-in rounded-full md:flex dark:text-gray-300 hover:bg-indigo-300 dark:hover:bg-indigo-400"
        [routerLink]="['./'] | localize"
        [queryParams]="{ page: 2 }"
        queryParamsHandling="merge"
        (click)="onPageSelect(2)"
      >
        2
      </a>
      <button
        type="button"
        *ngIf="currentPage > 4"
        class="items-center justify-center hidden w-12 leading-5 transition duration-200 ease-in rounded-full md:flex dark:text-gray-300 hover:bg-gray-300 focus:outline-none focus:bg-gray-300 dark:hover:bg-gray-600 dark:focus:bg-gray-600"
        (click)="togglePaginatorPanel('prev')"
      >
        ...
      </button>

      <a
        *ngIf="currentPage - 1 >= 1"
        class="items-center justify-center hidden w-12 leading-5 transition duration-200 ease-in rounded-full md:flex dark:text-gray-300 hover:bg-indigo-300 dark:hover:bg-indigo-400"
        [routerLink]="['./'] | localize"
        [queryParams]="{ page: currentPage - 1 }"
        queryParamsHandling="merge"
        (click)="onPageSelect(currentPage - 1)"
      >
        {{ currentPage - 1 }}
      </a>
      <a
        class="items-center justify-center hidden w-12 leading-5 transition duration-200 ease-in bg-indigo-500 rounded-full md:flex dark:text-gray-300"
        [routerLink]="['./'] | localize"
        [queryParams]="{ page: currentPage }"
        queryParamsHandling="merge"
      >
        {{ currentPage }}
      </a>
      <a
        *ngIf="currentPage < pages"
        class="items-center justify-center hidden w-12 leading-5 transition duration-200 ease-in rounded-full md:flex dark:text-gray-300 hover:bg-indigo-300 dark:hover:bg-indigo-400"
        [routerLink]="['./'] | localize"
        [queryParams]="{ page: currentPage + 1 }"
        queryParamsHandling="merge"
        (click)="onPageSelect(currentPage + 1)"
      >
        {{ currentPage + 1 }}
      </a>

      <button
        type="button"
        *ngIf="currentPage + 3 < pages"
        class="items-center justify-center hidden w-12 leading-5 transition duration-200 ease-in rounded-full md:flex dark:text-gray-300 hover:bg-gray-300 focus:outline-none focus:bg-gray-300 dark:hover:bg-gray-600 dark:focus:bg-gray-600"
        (click)="togglePaginatorPanel('post')"
      >
        ...
      </button>
      <a
        *ngIf="currentPage + 2 < pages"
        class="items-center justify-center hidden w-12 leading-5 transition duration-200 ease-in rounded-full md:flex dark:text-gray-300 hover:bg-indigo-300 dark:hover:bg-indigo-400"
        [routerLink]="['./'] | localize"
        [queryParams]="{ page: pages - 1 }"
        queryParamsHandling="merge"
        (click)="onPageSelect(pages - 1)"
      >
        {{ pages - 1 }}
      </a>
      <a
        *ngIf="currentPage + 1 < pages"
        class="items-center justify-center hidden w-12 leading-5 transition duration-200 ease-in rounded-full md:flex dark:text-gray-300 hover:bg-indigo-300 dark:hover:bg-indigo-400"
        [routerLink]="['./'] | localize"
        [queryParams]="{ page: pages }"
        queryParamsHandling="merge"
        (click)="onPageSelect(pages)"
      >
        {{ pages }}
      </a>
    </div>
    <button
      class="flex items-center justify-center w-12 h-12 ml-1 transition-colors duration-200 bg-gray-200 rounded-full dark:bg-gray-700 dark:text-gray-300"
      [ngClass]="currentPage === +pages ? 'opacity-50 cursor-not-allowed' : 'hover:bg-gray-300 dark:hover:bg-gray-600'"
      [disabled]="currentPage === +pages"
      [routerLink]="['./'] | localize"
      [queryParams]="{ page: currentPage + 1 }"
      queryParamsHandling="merge"
      (click)="onPageSelect(currentPage + 1)"
    >
      <svg-icon [key]="'next'"></svg-icon>
    </button>
  </div>

  <!-- Paginator dropdown panel, show/hide based on dropdown state.-->
  <div
    *ngIf="paginatorPanelOpened"
    class="absolute w-20 overflow-y-auto bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 dark:bg-gray-700"
    [ngClass]="
      (paginator === 'post' ? pages - (currentPage + 3) : currentPage - 4) <= 3 ? '-top-20 h-20' : '-top-32 h-32'
    "
  >
    <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
      <a
        *ngFor="
          let p of [].constructor(paginator === 'post' ? pages - (currentPage + 3) : currentPage - 4);
          let i = index;
          trackBy: trackByFn
        "
        class="block px-4 py-2 text-sm text-center text-gray-700 hover:bg-gray-100 hover:text-gray-900 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-gray-200"
        role="menuitem"
        [routerLink]="['./'] | localize"
        [queryParams]="{ page: i + (paginator === 'post' ? currentPage + 2 : 3) }"
        queryParamsHandling="merge"
        (click)="onPageSelect(i + (paginator === 'post' ? currentPage + 2 : 3))"
      >
        {{ i + (paginator === 'post' ? currentPage + 2 : 3) }}
      </a>
    </div>
  </div>
</div>
