<ng-container *ngIf="dataState$ | async as dataState">
  <mat-progress-bar
    *ngIf="dataState === dataStateTypes.LOADING || dataState === dataStateTypes.REFRESHING"
    class="progress-bar--top"
    mode="indeterminate"
  ></mat-progress-bar>
</ng-container>

<ng-container *ngIf="character$ | async as character">
  <h1>{{ character.name }}</h1>
  <mat-divider></mat-divider>
  <app-character-details-card
    [character]="character"
    (prefetchLocation)="prefetchLocation($event)"
  ></app-character-details-card>
  <mat-card>
    <h2>{{ 'CHARACTERS.CHARACTER_EPISODES' | translate: { name: character.name } }}</h2>
    <div class="row">
      <div class="col-lg-12">
        <mat-progress-bar
          *ngIf="(episodesDataState$ | async) === dataStateTypes.LOADING"
          mode="indeterminate"
        ></mat-progress-bar>
        <mat-list role="list">
          <mat-list-item *ngFor="let episode of episodes$ | async; trackBy: episode?.id" role="listitem">
            <button *ngIf="episode" mat-button color="primary" [routerLink]="['/episodes', episode.id]">
              {{ episode.episode }}: {{ episode.name }}
            </button>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </mat-card>
</ng-container>
