<ng-container *ngrxLet="dataState$ as dataState">
  <mat-progress-bar
    *ngIf="dataState === dataStateTypes.LOADING || dataState === dataStateTypes.REFRESHING"
    class="progress-bar--top"
    mode="indeterminate"
  ></mat-progress-bar>
</ng-container>

<ng-container *ngrxLet="character$ as character">
  <ng-container *ngIf="character">
    <h1>{{ character.name }}</h1>
    <mat-divider></mat-divider>
    <app-character-details-card
      [character]="character"
      (prefetchLocation)="prefetchLocation($event)"
    ></app-character-details-card>
    <mat-card *transloco="let t">
      <h2>{{ t('CHARACTERS.CHARACTER_EPISODES', { name: character.name }) }}</h2>
      <div class="row">
        <ng-container *ngrxLet="episodesDataState$ as episodesDataState">
          <mat-progress-bar
            *ngIf="episodesDataState === dataStateTypes.LOADING"
            mode="indeterminate"
          ></mat-progress-bar>
        </ng-container>

        <mat-list role="list" *ngrxLet="episodes$ as episodes">
          <ng-container *ngFor="let episode of episodes; trackBy: episode?.id">
            <mat-list-item *ngIf="episode; else loadingEpisode" role="listitem">
              <button mat-button color="primary" [routerLink]="['/episodes', episode.id] | localize">
                {{ episode.episode }}: {{ episode.name }}
              </button>
            </mat-list-item>
            <ng-template #loadingEpisode>
              <content-loader foregroundColor="#b8b8b8" viewBox="0 0 400 10">
                <svg:rect x="30" y="0" rx="5" ry="5" width="300" height="10" />
              </content-loader>
            </ng-template>
          </ng-container>
        </mat-list>
      </div>
    </mat-card>
  </ng-container>
</ng-container>
