<app-progress-bar *ngIf="loading$ | ngrxPush"></app-progress-bar>

<ng-container *ngrxLet="character$ as character">
  <div class="mx-4 sm:mx-0" *ngIf="character; else loadingCharacter">
    <app-character-details-card
      [character]="character"
      (hoverLocation)="prefetchLocation($event)"
    ></app-character-details-card>

    <div class="p-4 mt-4 bg-white rounded sm:shadow dark:bg-gray-700" *transloco="let t">
      <h2 class="mb-4 font-medium">{{ t('CHARACTERS.CHARACTER_EPISODES', { name: character.name }) }}</h2>

      <div *ngIf="episodes$ | ngrxPush as episodes" class="relative h-full overflow-hidden sm:px-10 wrap">
        <div
          class="absolute h-full border border-gray-700 border-2-2 border-opacity-20 left-10 sm:left-20 md:left-1/2 dark:border-gray-200"
        ></div>
        <div
          *ngFor="let episode of episodes; let odd = odd; trackBy: trackByEpisodeFn"
          class="flex items-center w-full mb-8 md:justify-between"
          [ngClass]="{ 'md:flex-row-reverse': odd }"
        >
          <div class="md:w-5/12"></div>
          <ng-container *ngIf="episode; else loadingEpisode">
            <a
              class="z-10 flex items-center w-32 h-8 transition-colors duration-200 bg-gray-800 rounded-full shadow-xl hover:bg-gray-900 md:w-24"
              [routerLink]="['/episodes', episode.id] | localize"
            >
              <h1 class="mx-auto text-sm font-semibold text-white md:text-lg">{{ episode.episode }}</h1>
            </a>

            <a
              class="w-full px-6 py-4 ml-4 transition-colors duration-200 bg-gray-400 rounded shadow-xl hover:bg-gray-500 md:w-5/12 md:ml-0"
              [routerLink]="['/episodes', episode.id] | localize"
            >
              <h3 class="mb-3 font-bold text-gray-800 md:text-xl">{{ episode.name }}</h3>
              <p class="text-xs leading-snug tracking-wide text-gray-900 text-opacity-100 md:text-sm">
                {{ episode.characters.length }} {{ t('CHARACTERS.TITLE') }}
              </p>
            </a>
          </ng-container>

          <ng-template #loadingEpisode>
            <div class="z-10 flex items-center w-32 h-8 bg-gray-800 rounded-full shadow-xl md:w-24">
              <div class="w-3/4 h-4 mx-auto bg-gray-400 rounded animate-pulse"></div>
            </div>

            <div class="w-full px-6 py-4 ml-4 bg-gray-400 rounded shadow-xl md:w-5/12 md:ml-0">
              <div class="space-y-4 animate-pulse">
                <div class="w-2/3 h-4 bg-gray-700 rounded"></div>
                <div class="w-1/3 h-4 bg-gray-700 rounded"></div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <ng-template #loadingCharacter>
    <app-loading-character></app-loading-character>
  </ng-template>
</ng-container>
