<seo *ngIf="seoConfig$ | ngrxPush as seoConfig" [config]="seoConfig"></seo>
<app-episodes-filter-form></app-episodes-filter-form>
<app-progress-bar *ngIf="loading$ | ngrxPush"></app-progress-bar>

<ng-container *ngrxLet="episodes$ as episodes">
  <div class="mt-4" *transloco="let t">
    <app-table [config]="episodes">
      <!-- Actions per episode -->
      <ng-template let-item="item">
        <button
          type="button"
          class="w-3/5 ml-2 btn-outline btn-outline-primary md:w-full md:ml-0"
          (click)="openCharactersDialog(item)"
          [disabled]="!item.characters.length"
        >
          {{
            t(item.characters?.length ? 'EPISODES.CHARACTERS' : 'EPISODES.NO_CHARACTERS', {
              number: item.characters?.length
            })
          }}
        </button>
      </ng-template>
    </app-table>
    <div class="mt-4">
      <app-paginator [currentPage]="page$ | ngrxPush" [pages]="pages$ | ngrxPush"></app-paginator>
    </div>
  </div>
</ng-container>
