<app-episodes-filter-form (filter)="newFilter($event)"></app-episodes-filter-form>
<app-progress-bar *ngIf="loading$ | ngrxPush"></app-progress-bar>

<ng-container *ngIf="episodesTableConfig$ | ngrxPush as episodesTableConfig">
  <div class="mt-4" *transloco="let t">
    <app-table [config]="episodesTableConfig">
      <!-- Actions per episode -->
      <ng-template let-item="item">
        <button
          type="button"
          class="w-3/5 ml-2 btn-outline btn-outline-primary md:w-full md:ml-0"
          [disabled]="!item.characters.length"
          (click)="openCharactersDialog(item)"
        >
          {{
            t(item.characters?.length ? 'EPISODES.CHARACTERS' : 'EPISODES.NO_CHARACTERS', {
              number: item.characters?.length
            })
          }}
        </button>
      </ng-template>
    </app-table>
    <div class="mt-4" *ngIf="pages$ | ngrxPush as pages">
      <app-paginator [currentPage]="page$ | ngrxPush" [pages]="pages" (page)="filterPageChange($event)"></app-paginator>
    </div>
  </div>
</ng-container>
