<seo *ngIf="seoConfig$ | ngrxPush as seoConfig" [config]="seoConfig"></seo>
<app-locations-filter-form></app-locations-filter-form>
<app-progress-bar *ngIf="loading$ | ngrxPush"></app-progress-bar>

<ng-container *ngrxLet="locations$ as locations">
  <div class="mt-4" *transloco="let t">
    <app-table [config]="locations">
      <!-- Actions per location -->
      <ng-template let-item="item">
        <button
          type="button"
          class="w-3/5 ml-2 btn-outline btn-outline-primary md:w-full md:ml-0"
          [disabled]="!item.residents.length"
          (click)="openResidentsDialog(item)"
        >
          {{
            t(item.residents?.length ? 'LOCATIONS.RESIDENTS' : 'LOCATIONS.NO_RESIDENTS', {
              number: item.residents?.length
            })
          }}
        </button>
      </ng-template>
    </app-table>
    <div class="mt-4" *ngIf="pages$ | ngrxPush as pages">
      <app-paginator [currentPage]="page$ | ngrxPush" [pages]="pages"></app-paginator>
    </div>
  </div>
</ng-container>
