<app-locations-filter-form></app-locations-filter-form>

<ng-container *rxLet="dataState$ as dataState">
  <mat-progress-bar
    *ngIf="dataState === dataStateTypes.LOADING || dataState === dataStateTypes.REFRESHING"
    class="progress-bar--top"
    mode="indeterminate"
  ></mat-progress-bar>
</ng-container>

<ng-container *rxLet="locations$ as locations">
  <div class="content" *transloco="let t">
    <div class="table-responsive">
      <table mat-table [dataSource]="locations">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>{{ t('LOCATIONS.FIELDS.NUM') }}</th>
          <td
            mat-cell
            class="pointer-cursor"
            *matCellDef="let element"
            [routerLink]="['/locations', element.id] | localize"
          >
            {{ element.id }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>{{ t('LOCATIONS.FIELDS.NAME') }}</th>
          <td
            mat-cell
            class="pointer-cursor"
            *matCellDef="let element"
            [routerLink]="['/locations', element.id] | localize"
          >
            {{ element.name }}
          </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>{{ t('LOCATIONS.FIELDS.TYPE') }}</th>
          <td mat-cell *matCellDef="let element">{{ element.type }}</td>
        </ng-container>

        <!-- Dimension Column -->
        <ng-container matColumnDef="dimension">
          <th mat-header-cell *matHeaderCellDef>{{ t('LOCATIONS.FIELDS.DIMENSION') }}</th>
          <td mat-cell *matCellDef="let element">{{ element.dimension }}</td>
        </ng-container>

        <!-- Residents Column -->
        <ng-container matColumnDef="residents">
          <th mat-header-cell *matHeaderCellDef>{{ t('LOCATIONS.FIELDS.RESIDENTS') }}</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-stroked-button
              color="primary"
              class="residents-button"
              [disabled]="element.residents.length < 1"
              (click)="openResidentsDialog(element)"
            >
              {{
                t(element.residents?.length ? 'LOCATIONS.RESIDENTS' : 'LOCATIONS.NO_RESIDENTS', {
                  number: element.residents?.length
                })
              }}
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [prefetchHovered]="true"
          (prefetch)="prefetchResidentsOnHover(row)"
        ></tr>
      </table>
    </div>

    <mat-paginator
      *ngIf="!!locations.length"
      [pageIndex]="pageIndex$ | push"
      [length]="totalLocations$ | push"
      [pageSize]="pageSize"
      (page)="changePage($event)"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</ng-container>
