<footer class="w-full bg-gray-600 dark:bg-gray-800">
  <div
    class="container grid grid-cols-2 gap-4 py-4 mx-auto mt-12 font-semibold text-white justify-items-center md:grid-cols-4"
  >
    <a class="hover:underline" href="https://rickandmortyapi.com" target="_blank" rel="noopener">
      The Rick and Morty API
    </a>
    <a class="hover:underline" href="https://angular.io" target="_blank" rel="noopener">Angular</a>
    <a class="hover:underline" href="https://github.com/SaulMoro" target="_blank" rel="noopener">GitHub</a>
    <a class="hover:underline" href="https://www.atSistemas.com" target="_blank" rel="noopener">atSistemas</a>
  </div>
</footer>
