$spacing--gap-rem: calc-rem($spacing--gap);

@mixin flex-grid-generator($name, $percent) {
  .flex-#{$name} {
    margin-top: #{$spacing--default};
    margin-left: #{$spacing--gap-rem};

    @include gt-md {
      width: calc(#{$percent} - #{$spacing--gap-rem});
    }

    @include lt-md {
      margin-top: #{$spacing--gap-rem/2};
      margin-left: #{$spacing--gap-rem/2};
      width: calc(100% - #{$spacing--gap-rem/2});
    }
  }

  .flex-full-#{$name} {
    margin-top: #{$spacing--default};
    margin-left: 0.5rem;

    @include gt-md {
      width: calc(#{$percent} - 0.5rem);
    }

    @include lt-md {
      margin-top: #{$spacing--gap-rem/2};
      margin-left: 0.25rem;
      width: calc(100% - 0.25rem);
    }
  }

  @include md {
    .flex-md-#{$name} {
      width: calc(#{$percent} - #{$spacing--gap-rem});
    }

    .flex-full-md-#{$name} {
      width: calc(#{$percent} - 0.5rem);
    }
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: $spacing--gap-rem/2;
  padding-right: $spacing--gap-rem;
  align-items: center;

  // .flex-25, .flex-md-25, ...
  @include flex-grid-generator(0, $spacing--gap-rem);
  @include flex-grid-generator(3, 3%);
  @include flex-grid-generator(4, 4%);
  @include flex-grid-generator(5, 5%);
  @include flex-grid-generator(10, 10%);
  @include flex-grid-generator(12, 12%);
  @include flex-grid-generator(15, 15%);
  @include flex-grid-generator(18, 18%);
  @include flex-grid-generator(22, 22%);
  @include flex-grid-generator(24, 24%);
  @include flex-grid-generator(20, 20%);
  @include flex-grid-generator(23, 23%);
  @include flex-grid-generator(25, 25%);
  @include flex-grid-generator(28, 28%);
  @include flex-grid-generator(30, 30%);
  @include flex-grid-generator(31, 31%);
  @include flex-grid-generator(33, 33.333%);
  @include flex-grid-generator(35, 35%);
  @include flex-grid-generator(40, 40%);
  @include flex-grid-generator(42, 42%);
  @include flex-grid-generator(43, 43%);
  @include flex-grid-generator(45, 45%);
  @include flex-grid-generator(47, 47%);
  @include flex-grid-generator(48, 48%);
  @include flex-grid-generator(49, 49%);
  @include flex-grid-generator(50, 50%);
  @include flex-grid-generator(53, 53%);
  @include flex-grid-generator(54, 54%);
  @include flex-grid-generator(55, 55%);
  @include flex-grid-generator(57, 57%);
  @include flex-grid-generator(58, 58%);
  @include flex-grid-generator(60, 60%);
  @include flex-grid-generator(66, 66.666%);
  @include flex-grid-generator(70, 70%);
  @include flex-grid-generator(75, 75%);
  @include flex-grid-generator(80, 80%);
  @include flex-grid-generator(85, 85%);
  @include flex-grid-generator(90, 90%);
  @include flex-grid-generator(96, 96%);
  @include flex-grid-generator(97, 97%);
  @include flex-grid-generator(98, 98%);
  @include flex-grid-generator(100, 100%);

  .spacer {
    margin: 0;
  }

  .center {
    align-self: center;
  }

  .start {
    align-self: flex-start;
  }

  .end {
    align-self: flex-end;
  }

  .no-margin {
    margin: 0;
  }

  .no-margin-top {
    margin-top: 0;
  }

  .no-margin-bottom {
    margin-bottom: 0;
  }

  .no-padding {
    padding: 0;
  }

  .no-padding-top {
    padding-top: 0;
  }

  .no-padding-bottom {
    padding-bottom: 0;
  }

  .no-padding-right {
    padding-right: 0;
  }

  .marginLeft-0 {
    margin-left: 0;
  }

  .border-bottom-flex {
    border-bottom: 1px solid #ccc;
  }
}
