@import 'variables';
@import 'mixins';
@import 'functions';

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  table {
    width: 100%;

    td,
    th {
      padding: 0 calc-rem($spacing--default);
    }
  }
}
