@import 'src/theme/variables';
@import 'src/theme/mixins';
@import 'src/theme/functions';

.alert-dialog {
  padding: calc-rem($spacing--default/2) calc-rem($spacing--default);
}

.alert-dialog__img {
  margin-bottom: calc-rem($spacing--default);
}

.alert-dialog__msg {
  @include font-size($font-size--large);

  text-align: justify;
  align-self: stretch;
  margin-top: calc-rem($spacing--default);
}

.mat-dialog-actions {
  margin: calc-rem($spacing--small) calc-rem($spacing--default) 0;

  button {
    min-width: calc-rem(128px);
  }
}
