<div fxFill>
  <mat-dialog-content class="mat-typography">
    <div class="alert-dialog" fxFlexFill fxLayout="column" fxLayoutAlign="start start">
      <img class="alert-dialog__img" src="./assets/img/exclamation.svg" />
      <p *ngFor="let text of data" class="alert-dialog__msg" [innerHTML]="text"></p>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions align="end">
    <button mat-flat-button color="primary" cdkFocusInitial mat-dialog-close>
      {{ 'BUTTONS.ACCEPT_DEFAULT' | translate }}
    </button>
  </div>
</div>
