<app-characters-filter-form></app-characters-filter-form>
<app-progress-bar *ngIf="loading$ | ngrxPush"></app-progress-bar>

<ng-container *ngrxLet="characters$ as characters">
  <div class="grid gap-4 mx-4 mt-4 sm:mx-0 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4">
    <a *ngFor="let character of characters; trackBy: trackByFn" [routerLink]="'' + character.id | localize">
      <app-character-card [character]="character" (hoverLocation)="prefetchLocation($event)"></app-character-card>
    </a>
  </div>

  <div class="mt-4" *ngIf="pages$ | ngrxPush as pages">
    <app-paginator [currentPage]="page$ | ngrxPush" [pages]="pages"></app-paginator>
  </div>
</ng-container>
