<seo *ngIf="seoConfig$ | ngrxPush as seoConfig" [config]="seoConfig"></seo>
<app-characters-filter-form></app-characters-filter-form>
<app-progress-bar *ngIf="loading$ | ngrxPush"></app-progress-bar>

<ng-container *ngrxLet="characters$ as characters">
  <div class="grid grid-cols-1 gap-4 mx-4 mt-4 sm:mx-0 sm:grid-cols-2 md:sm:grid-cols-3 xl:grid-cols-4">
    <app-character-card
      *ngFor="let item of characters; trackBy: item?.id"
      [character]="item"
      (prefetchLocation)="prefetchLocation($event)"
    ></app-character-card>
  </div>

  <div class="mt-4">
    <app-paginator [currentPage]="page$ | ngrxPush" [pages]="pages$ | ngrxPush"></app-paginator>
  </div>
</ng-container>
