<nav class="relative bg-indigo-600">
  <div class="space">
    <div class="stars"></div>
    <div class="stars"></div>
    <div class="stars"></div>
    <div class="stars"></div>
    <div class="stars"></div>
    <div class="stars"></div>
    <div class="stars"></div>
  </div>
  <div class="px-4 mx-auto sm:container sm:px-0">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <!-- Icon -->
        <div class="flex-shrink-0">
          <a [routerLink]="['/'] | localize: language">
            <img class="h-8 w-28" src="./assets/img/logo.svg" alt="Rick & Morty" />
          </a>
        </div>

        <div class="hidden sm:block">
          <div class="flex items-baseline ml-8 space-x-4">
            <a
              *ngFor="let item of menu; trackBy: trackByFn"
              [routerLink]="[item.path] | localize: language"
              class="px-3 py-2 text-sm font-medium text-white transition-colors duration-200 rounded-md hover:text-yellow-400 hover:bg-indigo-500"
              routerLinkActive="text-yellow-400"
            >
              {{ item.name }}
            </a>
          </div>
        </div>
      </div>

      <div class="hidden ml-4 sm:flex sm:justify-between sm:items-center sm:space-x-2">
        <button *ngIf="theme" class="w-5 text-gray-200 hover:text-gray-100" (click)="toggleTheme()">
          <ng-container *ngIf="theme === 'light'; else darkTheme">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
              />
            </svg>
          </ng-container>
          <ng-template #darkTheme>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke="currentColor">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
              />
            </svg>
          </ng-template>
        </button>
        <app-language-dropdown
          [language]="language"
          [languages]="languages"
          (languageSelected)="selectLanguage($event)"
        ></app-language-dropdown>
      </div>

      <!-- Mobile menu button -->
      <div class="flex -mr-2 sm:hidden">
        <button
          type="button"
          class="inline-flex items-center justify-center p-2 text-gray-200 transition-colors duration-200 rounded-md hover:text-white hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-indigo-700 focus:ring-white"
          [attr.aria-expanded]="menuPanelOpened"
          (click)="toggleMenuPanel()"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            *ngIf="menuPanelOpened; else menuPanelClosed"
            class="w-6 h-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
          <ng-template #menuPanelClosed>
            <svg
              class="w-6 h-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </ng-template>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu, toggle classes based on menu state. -->
  <ng-container *ngIf="menuPanelOpened">
    <div class="px-2 pt-2 pb-3 space-y-1">
      <a
        *ngFor="let item of menu; trackBy: trackByFn"
        [routerLink]="[item.path] | localize: language"
        class="block px-3 py-2 text-base font-medium text-white transition-colors duration-200 rounded-md hover:text-yellow-400 hover:bg-indigo-500"
        routerLinkActive="bg-indigo-600 text-yellow-400"
        (click)="toggleMenuPanel()"
      >
        {{ item.name }}
      </a>
    </div>
    <div class="flex items-center justify-between px-8 py-4 border-t border-gray-700">
      <app-language-dropdown
        [language]="language"
        [languages]="languages"
        (languageSelected)="selectLanguage($event)"
      ></app-language-dropdown>
      <button *ngIf="theme" class="w-5 text-gray-200 hover:text-gray-100" (click)="toggleTheme()">
        <ng-container *ngIf="theme === 'light'; else darkTheme">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
            />
          </svg>
        </ng-container>
        <ng-template #darkTheme>
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
            />
          </svg>
        </ng-template>
      </button>
    </div>
  </ng-container>
</nav>
