<ng-container *ngrxLet="loading$ as loading">
  <mat-progress-bar *ngIf="loading" class="progress-bar--top" mode="indeterminate"></mat-progress-bar>
</ng-container>

<ng-container *transloco="let t">
  <ng-container *ngrxLet="episode$ as episode">
    <ng-container *ngIf="episode; else loadingEpisode">
      <seo
        *transloco="let t"
        [config]="{
          title: t('EPISODES.SEO_DETAILS.title', { name: episode.name }),
          description: t('EPISODES.SEO_DETAILS.description', { name: episode.name }),
          keywords: t('EPISODES.SEO_DETAILS.keywords'),
          details_keywords: [episode.name, t('EPISODES.EPISODE_CHARACTERS', { name: episode.name })]
        }"
      ></seo>

      <h1>{{ episode.episode }}: {{ episode.name }} ({{ episode.air_date }})</h1>
      <mat-divider></mat-divider>
      <mat-card>
        <h2>{{ t('EPISODES.EPISODE_CHARACTERS', { name: episode.name }) }}</h2>
        <div class="row">
          <ng-container *ngIf="episode.characters?.length; else emptyCharacters">
            <ng-container *ngrxLet="characters$ as characters">
              <div class="col-12 col-md-6" *ngFor="let characterId of episode.characters; trackBy: characterId">
                <app-character-mini-card
                  *ngIf="characters[characterId]; else loadingCharacter"
                  [character]="characters[characterId]"
                ></app-character-mini-card>
                <ng-template #loadingCharacter>
                  <app-loading-character-mini-card></app-loading-character-mini-card>
                </ng-template>
              </div>
            </ng-container>

            <ng-template #emptyCharacters>
              <p>{{ t('EPISODES.NO_CHARATERS') }}</p>
            </ng-template>
          </ng-container>
        </div>
      </mat-card>
    </ng-container>

    <ng-template #loadingEpisode>
      <app-loading-details-content></app-loading-details-content>
    </ng-template>
  </ng-container>
</ng-container>
