<seo *ngIf="seoConfig$ | ngrxPush as seoConfig" [config]="seoConfig"></seo>
<app-progress-bar *ngIf="loading$ | ngrxPush"></app-progress-bar>

<ng-container *transloco="let t">
  <ng-container *ngrxLet="episode$ as episode">
    <ng-container *ngIf="episode; else loadingEpisode">
      <div class="p-4 mb-4 bg-white sm:rounded-md sm:shadow dark:bg-gray-700">
        <h1 class="text-2xl font-medium text-gray-800 dark:text-gray-100">
          {{ episode.episode }}: {{ episode.name }} ({{ episode.air_date }})
        </h1>
      </div>

      <div class="p-4 bg-white sm:rounded-md sm:shadow dark:bg-gray-800">
        <h2 class="mb-4 font-medium">{{ t('EPISODES.EPISODE_CHARACTERS', { name: episode.name }) }}</h2>
        <ng-container *ngIf="episode.characters?.length; else emptyCharacters">
          <ng-container *ngrxLet="characters$ as characters">
            <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 2xl:grid-cols-3">
              <ng-container *ngFor="let characterId of episode.characters; trackBy: characterId">
                <app-character-mini-card
                  *ngIf="characters[characterId]; else loadingCharacter"
                  [character]="characters[characterId]"
                ></app-character-mini-card>
                <ng-template #loadingCharacter>
                  <app-loading-character-mini-card></app-loading-character-mini-card>
                </ng-template>
              </ng-container>
            </div>
          </ng-container>
        </ng-container>

        <ng-template #emptyCharacters>
          <p class="mt-8 font-bold text-gray-500">{{ t('EPISODES.NO_CHARATERS') }}</p>
        </ng-template>
      </div>
    </ng-container>

    <ng-template #loadingEpisode>
      <app-loading-details-content></app-loading-details-content>
    </ng-template>
  </ng-container>
</ng-container>
