<ng-container *ngrxLet="dataState$ as dataState">
  <mat-progress-bar
    *ngIf="dataState === dataStateTypes.LOADING || dataState === dataStateTypes.REFRESHING"
    class="progress-bar--top"
    mode="indeterminate"
  ></mat-progress-bar>
</ng-container>

<ng-container *ngrxLet="episode$ as episode">
  <h1>{{ episode.episode }}: {{ episode.name }} ({{ episode.air_date }})</h1>
  <mat-divider></mat-divider>
  <mat-card>
    <h2>{{ 'EPISODES.EPISODE_CHARACTERS' | translate: { name: episode.name } }}</h2>
    <div class="row" *ngrxLet="charactersDataState$ as charactersDataState">
      <mat-progress-bar *ngIf="charactersDataState === dataStateTypes.LOADING" mode="indeterminate"></mat-progress-bar>

      <ng-container *ngrxLet="characters$ as characters">
        <ng-container *ngIf="!!characters.length; else emptyCharacters">
          <div class="col-12 col-md-6" *ngFor="let character of characters; trackBy: character?.id">
            <app-character-mini-card [character]="character"></app-character-mini-card>
          </div>
        </ng-container>

        <ng-template #emptyCharacters>
          <p *ngIf="charactersDataState === dataStateTypes.LOADED">{{ 'EPISODES.NO_CHARATERS' | translate }}</p>
        </ng-template>
      </ng-container>
    </div>
  </mat-card>
</ng-container>
