<div *ngrxLet="form$ as form" class="dynamic-form">
  <form
    [id]="form.formId"
    class="dynamic-form__form"
    [formGroup]="formGroup"
    (ngSubmit)="onSubmitForm(form.model)"
    #dynamicForm
  >
    <div fxFlexFill fxLayout="column" fxLayoutAlign="start stretch">
      <formly-form
        class="dynamic-form__form__content"
        [form]="formGroup"
        [model]="form.model"
        [fields]="config.fields"
        [options]="config.options"
        (modelChange)="onModelChange($event, form.model)"
      ></formly-form>
      <ng-content></ng-content>
    </div>
  </form>
</div>
