<mat-card>
  <div class="row">
    <img
      class="col-lg-4 character-image placeholder"
      [src]="character.image"
      [routerLink]="['/characters', character.id] | localize"
      alt="{{ character.name }}"
    />
    <div class="col-lg-8">
      <mat-card-header [routerLink]="['/characters', character.id] | localize">
        <mat-card-title>{{ character.name }}</mat-card-title>
        <mat-card-subtitle>
          <span [ngClass]="'status-' + character.status | lowercase"></span>
          {{ 'CHARACTERS.STATUS.' + character.status | uppercase | translate }} -
          {{ 'CHARACTERS.SPECIES.' + character.species | uppercase | translate }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ 'CHARACTERS.LAST_KNOWN_LOCATION' | translate }}<br />
          <a
            mat-button
            color="primary"
            [routerLink]="['/locations', character.location?.id] | localize"
            (prefetch)="prefetchOnHoverLocation(character.location?.id)"
          >
            {{ character.location?.name }}
          </a>
        </p>
        <p>
          {{ 'CHARACTERS.FIRST_SEEN' | translate }}<br />
          <a mat-button color="primary" [routerLink]="['/episodes', character.firstEpisode?.id] | localize">
            {{ character.firstEpisode?.name }}
          </a>
        </p>
      </mat-card-content>
    </div>
  </div>
</mat-card>
