<h2 mat-dialog-title>
  <span [matBadge]="data.characterIds.length" matBadgeOverlap="false">{{ data.title }}</span>
</h2>
<mat-dialog-content class="mat-typography">
  <div class="row">
    <ng-container *ngrxLet="charactersDataState$ as charactersDataState">
      <mat-progress-bar *ngIf="charactersDataState === dataStateTypes.LOADING" mode="indeterminate"></mat-progress-bar>
    </ng-container>

    <ng-container *ngrxLet="characters$ as characters">
      <div class="col-12" *ngFor="let characterId of data.characterIds; trackBy: characterId">
        <app-character-mini-card
          *ngIf="characters[characterId]; else loadingCharacter"
          [character]="characters[characterId]"
        ></app-character-mini-card>
        <ng-template #loadingCharacter>
          <app-loading-character-mini-card></app-loading-character-mini-card>
        </ng-template>
      </div>
    </ng-container>
  </div>
</mat-dialog-content>
