<div fxFill>
  <h2 mat-dialog-title *ngIf="dialogData.title">
    <ng-container *ngIf="dialogData.icon" [ngSwitch]="getIconType(dialogData.icon)">
      <img
        *ngSwitchCase="iconTypes.Asset"
        class="dialog__title__icon"
        aria-hidden
        [src]="dialogData.icon"
        height="28"
      />
      <i *ngSwitchCase="iconTypes.FontAwesome" [ngClass]="dialogData.icon" aria-hidden></i>
      <mat-icon *ngSwitchCase="iconTypes.MaterialIcon" aria-hidden>
        {{ dialogData.icon }}
      </mat-icon>
    </ng-container>
    {{ dialogData.title }}
  </h2>

  <mat-dialog-content>
    <ng-container dialogContent #contentRef="dialogContent" [content]="dialogData.component"></ng-container>
  </mat-dialog-content>

  <mat-dialog-actions
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayout.xs="column-reverse"
    fxLayoutAlign.xs="center stretch"
    fxLayoutGap="8px"
    *ngIf="dialogData.showDefaultButtons || dialogData.cancelText || dialogData.acceptText"
  >
    <button
      *ngIf="dialogData.showDefaultButtons || dialogData.cancelText"
      mat-stroked-button
      color="primary"
      mat-dialog-close
    >
      {{ dialogData.cancelText || ('BUTTONS.CANCEL_DEFAULT' | translate) }}
    </button>
    <button
      *ngIf="dialogData.showDefaultButtons || dialogData.acceptText"
      mat-flat-button
      color="primary"
      cdkFocusInitial
      [disabled]="contentRef.data?.invalid"
      (click)="dialogRef.close(contentRef.data)"
    >
      {{ dialogData.acceptText || ('BUTTONS.ACCEPT_DEFAULT' | translate) }}
    </button>
  </mat-dialog-actions>
</div>
