<content-loader foregroundColor="#b8b8b8" viewBox="0 0 400 300">
  <svg:rect x="42.84" y="9.93" rx="5" ry="5" width="143.55" height="86.59" />
  <svg:rect x="192.84" y="9.67" rx="0" ry="0" width="148.72" height="12.12" />
  <svg:rect x="192.84" y="25.67" rx="0" ry="0" width="89" height="9" />

  <svg:rect x="42" y="120" rx="5" ry="5" width="200" height="10" />
  <svg:rect x="42" y="140" rx="5" ry="5" width="200" height="10" />
  <svg:rect x="42" y="160" rx="5" ry="5" width="200" height="10" />
</content-loader>
